<%- model_class = Message -%>
<div class="page-header">
  <h1>Conversations</h1>
</div>

<% if @conversations.length > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Last Message</th>
        <th>From</th>
        <th>To</th>
        <th>Preview</th>
      </tr>
    </thead>
    <tbody>
      <% @conversations.each do |message| %>
        <tr onclick="window.location.href = '<%=new_message_path(message, :receiver_id => message.other_user(current_user).id)%>';" class="linkify">
          <td>
            <% notifs = current_user.notifications_with(message.other_user(current_user)) %>
            <span class="badge badge-important"><%=notifs.count unless notifs.count == 0%></span>
          </td>
          <td><%= message.created_at.localtime.strftime('%b %e, %l:%M %p') %></td>
          <td><%= message.sender.email %></td>
          <td><%= message.receiver.email %></td>
          <td><%= message.preview %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <div class="alert alert-block text-center">
    You haven't sent or received any messages.
  </div>

<% end %>