<%- model_class = Book -%>
<div class="page-header">
  <h1>Book Info</h1>
</div>

<% if @book.user == current_user %>
  <div class="alert alert-error text-center">
    Incorrect scraped information? Click "Edit Info" to update it manually.
  </div>
<% end %>

<table style="text-align:top;">
  <colgroup>
     <col span="1" style="width: 30%;">
     <col span="1" style="width: 70%;">
  </colgroup>
  <tr>
    <td><div><img src="<%=@book.img_url%>"></div></td>
    <td valign="top">
      <div class="span6">
        <p class="lead"><strong><%=@book.title%></strong></p> 
        <ul class="media-list">
          <li><strong>Author:</strong> <%= @book.author %></li>
          <li><strong>Edition:</strong> <%= @book.edition %></li>
          <li><strong>Publisher:</strong> <%= @book.publisher %></li>
          <li><strong>Sold By:</strong> <%= @book.user.email %></li>
          <li><strong>Course:</strong> <%= @book.dept %> <%=@book.course_num %></li>
          <li><strong>Condition:</strong> <%= @book.condition %></li>
          <li><strong>Asking Price:</strong> <%= number_to_currency(@book.price) %></li>
          <li><strong>Notes:</strong> <%= @book.notes %></li>
        </ul>
      </div>
    </td>
  </tr>
</table>

<div class="form-actions">
  <% if @book.user == current_user %>
    <%= link_to "Add Another Book", new_book_path, :class => 'btn btn'  %>
    <%= link_to "Back to Library", books_path, :class => 'btn'  %>
    <%= link_to "Edit Info", edit_book_path(@book), :class => 'btn' %>
    <%= link_to "Delete", book_path(@book), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <%else%>
  <div class="alert alert-block alert-error">
   <h4>Note:</h4>
   This site does not handle payment. Message the owner to agree on transaction details.
  </div>
    <button onclick="goBack()" class="btn">Back</button>
    <%= link_to("Owner's Other Books", {:controller => "books", :action => "library", :id => @book.user_id}, {:class => 'btn btn-success'}) %>
    <%= link_to "Send Message to Owner", new_message_path(:receiver_id => @book.user_id, :book_id => @book.id), :class => "btn btn-primary"%>
  <%end%>
</div>
